// wrapper styling

.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
  }


.flexMe{
    display: flex; 
    justify-content: space-between; 
    padding-top:50px;
} 
.flexMe img{
    width:150px; 
    height:150px;
} 
.santaFlex{
    display: flex; 
    justify-content: space-between;
}