// font-family: 'Dancing Script', cursive; 
html{
    font-size: 62.5%;
}


h1,h2, h3{
    font-family:'Dancing Script', cursive;
    padding: 0;
    margin: 0;
} 

h1{
    font-size: 9rem; 
    width:40%;
}

h2{
    font-size:5rem; 
    text-align: center;
} 
h3{
    font-size: 3rem;
}
li{ 
    font-size:2.5rem; 
}  
// change me to something better
button{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background:darkgreen;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    }

button:hover{    background:lightgreen;
letter-spacing: 1px;
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
} 

// styling for buttons from https://www.fabriziovanmarciano.com/button-styles/ tweaked by permission of author