// Commonly used colors, fonts, and styles 

$beige:#fff4db; 
$lightpink: #d0396b;
$redpink:#990033; 
$turquoise:#206d74; 
$darkgreen: #0c4d48; 


// variables named actual colors to represent chosen pallete;